[user]
    name = Joep Kemperman
    email = mail@joepkemperman.nl
[url "git@github.com:"]
    insteadOf = https://github.com/
[color]
    ui = true
[alias]
    b        = branch
    bl       = branch --list
    s        = status
    st       = stash
    d        = diff
    ds       = diff --staged
    dst      = diff --stat
    dsts     = diff --stat --staged
    sw       = switch
    swc      = switch -c
    aa       = add -A
    c        = commit
    ca       = commit -a
    pm       = pull
    pr       = pull --rebase
    ps       = push
    psfwl    = push --force-with-lease
    rh       = reset --hard
    amend    = commit --amend --no-edit
    amende   = commit --amend
    smerge   = merge --squash
    rb       = rebase
    rbc      = rebase --continue
    rbs      = rebase --skip
    rba      = rebase --abort
    ls       = log --pretty=format:"%C(green)%ad\\ %C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=short
    subdate  = submodule update --recursive
[core]
    whitespace = blank-at-eol,blank-at-eof,trailing-space,space-before-tab,tab-in-indent
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes
[push]
    default = upstream
    autoSetupRemote = true
[status]
    submoduleSummary = true
